#chat-menu {
  margin-left: 5%;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chat-menu-top {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#main-search-bar {
  width: 90%;
  padding: 10px 10px;
  border: 1px solid gray;
  border-radius: 20px;
}
