.room {
  text-align: left;
  margin: 5px auto;
  padding: 10px 10px;
}

.room:hover {
  background-color: #44475a;
  cursor: pointer;
}

.room.focus {
  background-color: #44475a;
}

#room-list {
  flex: 17;
  width: 100%;
  background-color: #282A36;
  overflow-y: scroll;
}

.room-name {
  font-weight: 450;
  font-size: 1.05rem;
  color: white;
}

.latest-message {
  font-size: 0.9rem;
  color: #A3A6AB;
}

.new-message {
  font-weight: bold;
  color: white;
}

#room-list::-webkit-scrollbar {
  width: 8px;
}

#room-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#room-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}