ul {
  list-style-type: none;
}

.room {
  text-align: left;
  margin: 5px auto;
  cursor: pointer;
  padding: 10px 10px;
}

.room:hover {
  background-color: rgb(240, 240, 240);
}

#room-list {
  flex: 17;
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

.room-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.latest-message {
  font-size: 0.9rem;
}

#room-list::-webkit-scrollbar {
  width: 8px;
}

#room-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#room-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}