@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.logoBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
}

.logo {
  height: 80%;
  margin-top: 10px;
  margin-left: 10px;
}

.new-conversation {
  cursor: pointer;
  padding: 10px;
  user-select: none;
}