#contact-box {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: #44475a;
  border-left: 1px solid #44475a;
}

#box-title {
  padding: 20px 0;
  background-color: #282A36;
  color: white;
  font-weight: bold;
  width: 100%;
}

.friend {
  padding: 30px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #282A36;
  background-color: #282A36;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.friend-info {
  text-align: left;
  margin-right: auto;
}

.friend-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.friend-email {
  font-size: 0.8rem;
}

.unfriend-btn{
  background-color: #f44336;
  border: 2px solid #f44336;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.unfriend-btn:hover {
  opacity: 0.8;
}

.contact-friend-btn {
  background-color: #008CBA;
  border: 2px solid #008CBA;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.contact-friend-btn:hover {
  opacity: 0.8;
}