@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#side-menu {
  margin-left: 5%;
  flex: 1.1;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #282a36;
}

#user-menu-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282A36;
}

#user-search-bar {
  display: flex;
  justify-items: center;
  width: 90%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: #44475a;
  color: white;
  margin: 5px;
}

.user-search-list {
  flex: 15;
  width: 100%;
  background-color: #282A36;
  color: white;
  overflow-y: scroll;
}

.user-search-list #friends-result {
  margin-bottom: 5px;
}

.user-search-list h5 {
  display: none;
}

.user-search-list h5.visible-label {
  display: block;
}

.user-search-list::-webkit-scrollbar {
  width: 8px;
}

.user-search-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.user-search-list::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}

.user-search {
  text-align: left;
  width: 90%;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.info {
  text-align: left;
  margin-right: auto;
  padding: 6px;
}

.add-btn, .chat-btn {
  background-color: #32a852;
  border: 2px solid #32a852;
  color: white;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.add-btn.req-sent {
  background-color: rgb(75, 75, 75);
  border: 2px solid rgb(75, 75, 75);
}

.add-btn:hover, .chat-btn:hover {
  opacity: 0.8;
}

.user-search:hover {
  background-color: #44475a;
}

.user-fullname {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-email {
  font-size: 0.9rem;
}

.menu {
  flex: 2;
  background-color: #282A36;
}

a {
  color: #000;
  text-decoration: none;
}

.contact-menu {
  text-align: left;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 10px;
  margin: 2px auto;
  background-color: #282A36;
  color: white;
  display: flex;
  align-content: center;
}

.contact-menu.active {
  background-color: #44475a;
  border-right: 1px solid #282a36;
}

.contact-menu:hover {
  background-color: #44475a;
  border-right: 1px solid #282a36;
}

.badge {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
	width: 1.3rem;
	height: 1.3rem;
  margin-left: 5px;
  text-align: center;
	background: rgba(255, 0, 0, 0.8);
  color: #fff;
  font-size: 0.6rem;
}